<div class="mainDiv">
  <div class="topDiv">
    <h1 class="title">Porfolio</h1>
  </div>
  <div class="contentAreaDiv">
    <section class="socialDiv">
      <p>My name is Will!</p>
      <div class="icon">
        <span><a href="https://github.com/"><img src="../assets/iconfinder_github_circle_gray_107139.svg" alt="github icon"></a></span>
        <span><a href="https://Twitch.com/"><img src="../assets/iconfinder_1_Twitch_colored_svg_5296513.svg" alt="Twitch Icon"></a></span>
      </div>
    </section>
    <section class="mainContentDiv">
      <div class="summaryDiv">
        <div style="display: flex; flex-direction: row;">
          <hr>
          <p style="font-size: large;">Summary</p>
          <hr>
         </div>
         <p>This is my summary! Add yours here.</p>
      </div>
      <div class="resumeDiv">
        <div style="display: flex; flex-direction: row;">
          <hr>
          <p style="font-size: large;">Resume</p>
          <hr>
         </div>
         <p>link to resume!</p>
      </div>
      <div class="projectDiv">
        <div style="display: flex; flex-direction: row;">
          <hr>
          <p style="font-size: large;">Projects</p>
          <hr>
         </div>
      </div>
      <div class="projectsDiv">
        <mat-card class="project">
          Project 1 - Data Miner
          <ul>
            <li>Python</li>
            <li>Miner 10GB/day</li>
            <li>Runs on AWS</li>
          </ul>
          <button mat-raised-button>To Source Code</button>
        </mat-card>
        <mat-card class="project">
          Project 1 - Data Miner
          <ul>
            <li>Python</li>
            <li>Miner 10GB/day</li>
            <li>Runs on AWS</li>
          </ul>
          <button mat-raised-button>To Source Code</button>
        </mat-card>
        <mat-card class="project">
          Project 1 - Data Miner
          <ul>
            <li>Python</li>
            <li>Miner 10GB/day</li>
            <li>Runs on AWS</li>
          </ul>
          <button mat-raised-button>To Source Code</button>
        </mat-card>
      </div>
    </section>
  </div>
</div>
