/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    --primary-color: #78d0cf;
    --background-main: #141414;
    --background-secondary: #1b1b1b;
    --secondary-color: #7d4446;
    --primary-shadow: #18505d;

      margin: 0;
      font-family: Roboto, "Helvetica Neue", sans-serif;
      background-color: var(--background-main);
   }
